<ion-grid no-padding>
    <ion-row align-items-stretch justify-content-center>
        <ion-col size="12">
            <div text-center>
                <mat-slider value="{{_value}}" min="0" max="{{max}}" (input)="onSliderChange($event)" (change)="onInputChange($event)"></mat-slider>
            </div>
        </ion-col>
    </ion-row>
    <ion-row align-items-stretch>
        <ion-col>
            <div text-left>
                <ion-label no-padding>{{elapsed}}</ion-label>
            </div>
        </ion-col>
        <ion-col>
            <div text-right>
                <ion-label no-padding>{{total}}</ion-label>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>