app-play {
    #app-section {
        #app-title {
            color: color(--color, 'primary');
            text-transform: uppercase;
        }
        ion-icon {
            font-size: 15rem;
        }
    }
}