<ion-header>
    <ion-toolbar>
        <ion-title>
            Play Music
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>

    <ion-list *ngIf="tracks.length">
        <ng-container *ngFor="let track of tracks; let i = index">
            <ion-item [color]="currentIndex === i ? 'primary':'light'" text-wrap (click)="openTrack(i)">
                <ion-icon [color]="currentIndex !== i ? 'primary':'light'" item-start name="musical-notes"></ion-icon>{{ track.title }}
                <ion-icon *ngIf="currentIndex === i" slot="end" name="musical-note"></ion-icon>
                <ion-icon *ngIf="currentIndex !== i" slot="end" name="play"></ion-icon>
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>

<ion-footer *ngIf="currentIndex != -1" [@showHide]="displayFooter">
    <ion-toolbar color="primary">
        <music-progress (seek)="onSeek($event)" total="{{ state.duration }}" elapsed="{{ state.time }}" max="{{state.durationSec}}" value="{{seek}}"></music-progress>

        <music-controls [isPlaying]="state.playing" hasNext="true" hasPrev="true" (play)="play()" (pause)="pause()" (previous)="previous()" (next)="next()"></music-controls>
    </ion-toolbar>
</ion-footer>