app-play {
    ion-footer {
        ion-grid {
            margin-left: 25%;
            margin-right: 25%;
        }
    }
    .track-thumbnail {
        border-radius: 15% !important;
        overflow: hidden;
    }
    .selected {
        background-color: lightslategray !important;
    }
}