<ion-grid no-padding>
    <ion-row id="media-controls" align-items-center justify-content-center>
        <ion-col size="4">
            <div text-center>
                <ion-button [disabled]="!hasPrev" (click)="onPrevious()" fill="clear">
                    <ion-icon class="nextprev" color="light" name="rewind"> </ion-icon>
                </ion-button>
            </div>
        </ion-col>

        <ion-col size="4">
            <div text-center>
                <ion-button *ngIf="isPlaying; else elseBlock" size="4" (click)="onPause()" fill="clear">
                    <ion-icon class="playpause" color="light" name="pause"></ion-icon>
                </ion-button>
                <ng-template #elseBlock>
                    <ion-button (click)="onPlay()" fill="clear">
                        <ion-icon class="playpause" color="light" name="play"></ion-icon>
                    </ion-button>
                </ng-template>
            </div>
        </ion-col>

        <ion-col size="4">
            <div text-center>
                <ion-button [disabled]="!hasNext" (click)="onNext()" fill="clear">
                    <ion-icon class="nextprev" color="light" name="fastforward"></ion-icon>
                </ion-button>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>